@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #EAEAEA;
  --color-primary: #5E2E53;
  --color-secondary: #E1A1E9;
  --color-text: #000000;

  --font-body: 'Ubuntu, sans-serif';
  --font-logo: 'Roboto, Racing Sans One, sans-serif';
  
  --font-size-base: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 36px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--color-background);

  font-family: var(--font-body);
  color: var(--color-text);
}

#splash {
  background-image: "/public/splash-image.jpg";
}